<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Doitsu Identity Server</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/images/doitsu-tech-logos/rectangle/logo_transparent_background.png" width="200" alt="logo_transparent_background.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @{
                    var links = new List<((string controller, string action) route, string display)> { (("Home", "Index"), "Home") };
                }
                @foreach (var link in links)
                {
                    <li class="nav-item">
                        <a class="nav-link @(Context.MatchRouteData(link.route.controller, link.route.action) ? "active" : "")"
                           asp-controller="@link.route.controller"
                           asp-action="@link.route.action">
                            @link.display
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="https://doitsu.tech">About</a>
                </li>
            </ul>

            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>

@RenderBody()

<footer class="container">
    <p class="text-end">&copy; 2021 - Identity Server</p>
</footer>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/hammer.js/hammer.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/hammer.js/hammer.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>

</html>